<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5">
            <i class="fab fa-facebook-f"> </i>
            <i class="fab fa-twitter"> </i>
            <i class="fab fa-linkedin-in"> </i>
            <i class="fab fa-instagram"> </i>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 | salveosbichin
  </div>
</footer>