<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Contate-nos</h5>
        <p>nos siga no twitter @salveosbichin</p>
        <p>ou no instagram @salveosbichin</p>
        <p>ou nos envie um email para contato@salveosbichin.com :)</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#!">Link 5</a></li>
          <li><a href="#!">Link 6</a></li>
          <li><a href="#!">Link 7</a></li>
          <li><a href="#!">Link 8</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 | salveosbichin
  </div>
</footer>