<form method="post" action="/adotar">
	<div class="form-group">
		<label for="nome-adote">Seu nome:</label>
		<input type="text" class="form-control" id="nome-adote" name="nomeadote" placeholder="Insira seu nome">
	</div>
	<div class="form-group">
		<label for="email-adote">Informe seu email:</label>
		<input type="email" class="form-control" id="email-adote" name="emailadote" aria-describedby="emailHelp"
			placeholder="Insira seu email">
		<small id="emailHelp" class="form-text text-muted">Nós iremos enviar as informações de pagamento por
			email.</small>
	</div>
	<div class="form-group">
		<label for="endereco-adote">Endereço:</label>
		<input type="text" class="form-control" id="endereco-adote" placeholder="Insira seu endereço"
			name="enderecoadote">
		<small id="emailHelp" class="form-text text-muted">Pedimos seu endereço apenas para o envio dos kits.</small>
	</div>
	<div class="custom-control custom-radio">
		<input type="radio" id="val-1-adote" name="valorradio" class="custom-control-input" value="40">
		<label class="custom-control-label" for="val-1-adote">Quero contribuir com R$ 40,00 e ganhar um
			Caderninho!</label>
	</div>
	<div class="custom-control custom-radio">
		<input type="radio" id="val-2-adote" name="valorradio" class="custom-control-input" value="70">
		<label class="custom-control-label" for="val-2-adote">Quero contribuir com R$ 70,00 e ganhar um Caderninho e uma
			Garrafinha!</label>
	</div>
	<div class="custom-control custom-radio">
		<input type="radio" id="val-3-adote" name="valorradio" class="custom-control-input" value="100">
		<label class="custom-control-label" for="val-3-adote">Quero contribuir com R$ 100,00 e ganhar um Kit do
			Patrocinador (Caderninho + Garrafinha + Adesivos + uma foto da espécie adotada)</label>
	</div>
	<input type="hidden" id="nomeEspecie" name="nomeEspecie" value={{nomeEspecie}}>
	<button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div class="especie-back-button">
	<a href="/adote-uma-especie">
		<< Voltar </a> </div>