<section id="noticias1-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h1 class="news-home-title">Presente para o planeta</h1>
        </div>
    </div>
</section>
<div class="space"></div>




<div class="row justify-content-center">
  <div class="card col-sm-3 align-self-center">
    <div class="card-body">
        <h5 class="card-title">Visualizar presente:</h5>
        <form class="card-text" id="form-visualizar" method="get" action="visualizar-presente">
            <div class="form-group">
                <input type="text" class="form-control" id="codigo" name="codigo"
                    placeholder="Insira o código do presente" required>
            </div>
            <button type="submit" class="btn btn-success">Visualizar</button>
        </form>
    </div>
  </div>
</div>

<br>
<br>

<div class="row justify-content-center">
  <div class="card col-sm-3 align-self-center">
    <div class="card-body">
        <h5 class="card-title">Criar presente:</h5>
        
        <form id="form-presente" method="post" action="criarpresente">

            <div class="form-group">
                <label for="nome-aniversariante">Nome do aniversariante:</label>
                <input type="text" class="form-control" id="nome" name="nome"
                    placeholder="Insira o nome do aniversariante" required>
            </div>

            <div class="form-group">
                <label for="nome-aniversariante">Escolha a imagem:</label>
            </div>


            <div id="carouselImagens" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carouselImagens" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselImagens" data-slide-to="1"></li>
                    <li data-target="#carouselImagens" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item carousel-imagem active">
                        <img class="card-img-top" src="../imgs/especies/arara-azul-grande.jpg">
                    </div>
                    <div class="carousel-item carousel-imagem">
                        <img class="card-img-top" src="../imgs/especies/mico1.jpg">
                    </div>
                    <div class="carousel-item carousel-imagem">
                        <img class="card-img-top" src="../imgs/especies/onca-pintada.jpg">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselImagens" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próxima</span>
                </a>
                <a class="carousel-control-next" href="#carouselImagens" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
            </div>  

            </br>


            <div class="form-group">
                <label for="nome-aniversariante">Escolha o template:</label>
            </div>



            <div id="carouselTemplates" class="carousel slide" data-interval="false">
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card" style="max-width:319px;">
                            <div class="card-block text-center">
                                <img class="card-img-top" src="../imgs/art-close-up-ecology-886521.jpg">
                                <h4 class="card-title">Nome</h4>
                                <p class="card-text">Olá, amigo! Este é meu cartão de aniversário e vc pode me presentear apoiando o projeto salveosbichin. Para ajudar basta passar seu email para receber as informações. Conto com vc!</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="max-width:319px;">
                            <div class="card-block text-center">
                                <h4 class="card-title">Nome</h4>
                                <p class="card-text">Olá, amigo! Este é meu cartão de aniversário e vc pode me presentear apoiando o projeto salveosbichin. Para ajudar basta passar seu email para receber as informações. Conto com vc!</p>
                                <img class="card-img-top" src="../imgs/art-close-up-ecology-886521.jpg">
                            </div>
                        </div>  
                    </div>
                    <div class="carousel-item">
                        <div class="card" style="max-width:319px;">
                            <div class="card-block text-center">
                                <h4 class="card-title">Nome</h4>
                                <img class="card-img-top" src="../imgs/art-close-up-ecology-886521.jpg">
                                <p class="card-text">Olá, amigo! Este é meu cartão de aniversário e vc pode me presentear apoiando o projeto salveosbichin. Para ajudar basta passar seu email para receber as informações. Conto com vc!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTemplates" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselTemplates" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>  
        </form>
    </div>
  </div>
</div>

<script>

    $(document).ready(function() {

        $('#carouselImagens').bind('slide.bs.carousel', function (e) {

            $( ".carousel-imagem" ).each(function( i ) {
                if ( $(this).hasClass("active") ) {

                    console.log("imagem active " + i);
                    console.log($(this));

                    const tmp = "../"

                    let src = $(this)['0'].childNodes['1'].src;

                    let src2 = tmp + src.slice(22, src.length);

                }
            });

        });
    });

    $('#form-visualizar').on('submit', e => {
        e.preventDefault();
        $.ajax({
            url: '/presente-planeta/visualizar-presente',
            method: 'get',
            data: $('#form-visualizar').serialize()
        })
    })

    $('#form-presente').on('submit', e => {
        e.preventDefault();
        $.ajax({
            url: '/presente-planeta/criarpresente',
            method: 'post',
            data: $('#form-presente').serialize()
        }).done(d => {
            Swal.fire(d).then(result => {
                if (result.value) window.location = '/presente-planeta/';
            })
        })
    })
</script>