<section id="noticias1-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h1 class="news-home-title">jogos da natureza</h1>
            <h5 class="header-subtitle">Jogue e ajude o meio ambiente a se recuperar
        </div>
    </div>
</section>
<div class="space"></div>
<section id="jogos">
    <div class="container">
        <p>texto texto texto texto texto texto</p>
        <h6>existem XX pessoas ajudando a natureza!</h6>
        <h1 class="text-center orange-title"> Fácil </h1>
        <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=0a80f6d3c93b&amp;view=iframe"
         frameborder=0 allowfullscreen></iframe>

        <h1 class="text-center orange-title"> Médio </h1>
        <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=08e69a31f8d3&amp;view=iframe"
         frameborder=0 allowfullscreen></iframe>

        <h1 class="text-center orange-title"> Difícil </h1>
        <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=2f2a9d812fe0&amp;view=iframe"
         frameborder=0 allowfullscreen></iframe>
    </div>
</section>