<section id="noticias1-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h1 class="news-home-title">jogos da natureza</h1>
            <h5 class="header-subtitle">Jogue e ajude o meio ambiente a se recuperar
        </div>
    </div>
</section>
<div class="space"></div>
<section id="jogos">
    <div class="container">
        <p>Com o apoio de três patrocinadores, trouxemos como inovação os Jogos da Natureza!</p>
        <p>É simples, um jogo de quebra-cabeça com três níveis de dificuldade.</p>
        <p>Para você ajudar, basta escolher um nível e jogar!</p>
        <p>De acordo com seu tempo de conclusão o patrocinador que apoia esse nível irá doar uma quantia para o projeto.</p>
        
        <br><br>

        <section id="patrocinadores">
	        <div class="logos">
		    <a class="logo-img" href="https://awionline.org/" target="_blank"><img
				src="../imgs/patrocinadores/animal_welfare_institute.png"></a>
	        </div>
        </section>
        <h1 class="text-center orange-title"> Fácil</h1>
            <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=0a80f6d3c93b&amp;view=iframe"
            frameborder=0 allowfullscreen></iframe>
            <h6 class="text-center orange-title">{{txtFacil}} ajudando a natureza!</h6>

        <br><br>

        <section id="patrocinadores">
	        <div class="logos">
		    <a class="logo-img" href="https://www.teamcatrescue.ca/" target="_blank"><img
				src="../imgs/patrocinadores/team_cat_rescue.png"></a>
	        </div>
        </section>
        <h1 class="text-center orange-title"> Médio </h1>
            <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=08e69a31f8d3&amp;view=iframe"
            frameborder=0 allowfullscreen></iframe>
            <h6 class="text-center orange-title">{{txtMedio}} ajudando a natureza!</h6>

        <br><br>

        <section id="patrocinadores">
	        <div class="logos">
		    <a class="logo-img" href="https://www.greenpeace.org/brasil/" target="_blank"><img
				src="../imgs/patrocinadores/greenpeace.png"></a>
	        </div>
        </section>
        <h1 class="text-center orange-title"> Difícil </h1>
            <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=2f2a9d812fe0&amp;view=iframe"
            frameborder=0 allowfullscreen></iframe>
            <h6 class="text-center orange-title">{{txtDificil}} ajudando a natureza!</h6>

    </div>
</section>