<!-- Home da página -->
<section id="home">
	<div class="home-img">
		<div class="container">
			<h1 class="frase-home">Semear ideias ecológicas e plantar sustentabilidade é ter a garantia de colhermos um futuro fértil e consciente!</h1>				
		</div>	
	</div>
</section>

<!-- Quem somos -->

<div class="container">
	<br><br>
	<!-- Notícias -->
	<section id="noticias">
		<h2>Notícias</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<img src="../imgs/windows xp.jpg" class="card-img-top news-card-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Com a escassez, a água pode se transformar em um bom investimento</h5>
						<p class="card-text">É fácil supor que a água nunca vai acabar. Ela cai do céu, e, embora seja vital, às
							vezes
							a tratamos como se fosse inútil. Quantas vezes você já viu sprinklers funcionando
							debaixo de chuva? No entanto, a perspectiva de escassez em alguns anos poderá tornar a
							água uma mercadoria preciosa. Isso representa uma oportunidade para os investidores. Um
							pequeno grupo de fundos mútuos tradicionais e fundos negociados na bolsa (ETF) já
							investem nela, principalmente em empresas que contribuem para a distribuição, o teste e
							a limpeza da água. Essas empresas podem crescer à medida que os governos em todo o mundo
							se esforçam para conter a esperada falta d’água.</p>
						<a href="#" class="btn btn-primary">Leia mais</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<img src="../imgs/agriculture-countryside-crop-2332736.jpg" class="card-img-top news-card-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">A agricultura é aliada, não inimiga do clima</h5>
						<p class="card-text">Para começar, é bom lembrar que o principal movimento da agricultura a favor do clima é
							fazer sua parte para acabar com o desmatamento ilegal. Nos últimos meses, graças a
							explosão do desmatamento da Amazônia, o agronegócio do país tem sido associado (em parte
							pelo apoio dado ao governo) a práticas que estimulam a devastação ambiental. Isso
							preocupa porque o desmatamento da Amazônia é sozinho a terceira maior fonte global de
							emissão de gases de efeito estufa, responsáveis pelo aquecimento da Terra. O
							desmatamento é a maior contribuição do país para a mudança do clima. Por causa da
							derrubada de florestas, que guardam carbono, o Brasil é um dos cinco maiores emissores
							dos gases de efeito estufa.</p>
						<a href="#" class="btn btn-primary">Leia mais</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<iframe class="news-card-img" src="https://www.youtube.com/embed/tBr6GvbeJvo"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					<div class="card-body">
						<h5 class="card-title">O que é essa tal sustentabilidade?</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget tempus ligula. Vestibulum id mattis turpis, in dignissim massa. Praesent nisi libero, sagittis in arcu sed, rhoncus vestibulum nunc. Duis scelerisque nec libero a cursus. Curabitur at metus eget enim facilisis ultrices consequat eleifend elit. Morbi suscipit, arcu eget sollicitudin laoreet, magna nibh iaculis urna, id vestibulum justo augue sed enim. Nullam pulvinar, odio in vehicula iaculis, felis tellus ultrices turpis, ac feugiat mi nisi at mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec a aliquam odio. Donec suscipit turpis ut mi accumsan vestibulum. Integer a nulla placerat, gravida turpis blandit, malesuada lacus. Suspendisse eros nunc, condimentum sit amet justo vel, lacinia blandit augue. Curabitur iaculis est at lacinia facilisis. Pellentesque vel metus nisl. Nunc erat erat, ultrices a leo nec, finibus sodales lectus. Suspendisse potenti.</p>
						<a href="#" class="btn btn-primary">Leia mais</a>
					</div>
				</div>
			</div>
		</div>
</section>

<!-- Eventos -->
<section id="eventos">
	<h2>Eventos</h2>
	<div class="alert alert-danger" role="alert">
		Não há eventos cadastrados!
	</div>
</section>
<br><br>

<!-- Depoimentos -->
<section id="depoimentos">
	<h2>Depoimentos</h2>
		<div class="container reviews">
			<div class="container">
				<ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
					<li>
					<img src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
					<p class="depo-text" contenteditable="false">" Eu simplesmente AMO essa iniciativa! Comecei acompanhando o Instagram e depois conheci o site. Desde então, fui em vários dos eventos divulgados, conheci muitas pessoas maravilhosas e agora tô cada vez mais por dentro de tudo que tem a ver com sustentabilidade :) "</p>
						<p><span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span></p>
					<h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Martha Stewart</h5>
					<small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Business Woman - New York</small> 
					</li>
					<li>
					<img src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
					<p class="depo-text" contenteditable="false">" Sempre pensei que seria uma ótima ideia se existisse uma plataforma para que pudéssemos nos manter atualizados facilmente tendo acesso a notícias, vídeos e eventos relacionados ao tema sustentabilidade. E é exatamente isso que esse site nos traz, além de muito mais! "</p>
							<p><span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span></p>
					<h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ariana Menage</h5>
					<small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Recording Artist - Los Angeles</small>
					</li>
					<li>
					<img src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
					<p class="depo-text" contenteditable="false">" Sou cliente assíduo da loja virtual, e já adotei 3 espécies. Também acho incrível poder criar e assinar abaixo-assinados de forma tão simples e rápida, além de poder receber notícias no meu e-mail. Meu apoio é garantido, continuem com o ótimo trabalho!
 "</p>
							<p><span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span></p>
					<h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Sean Carter</h5>
					<small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Fund Manager - Chicago</small>
					</li>
				</ul>
			</div>
		</div>
	</section>

<br><br>

<!-- Patrocinadores -->
<section id="patrocinadores">
	<h2>Patrocinadores</h2>



</section>
</div> <!-- fecha div container -->