<div class="container">

	<!-- Home da Página -->
	<section>
		<h1>Home com uma imagem de fundo</h1>
	</section>

	<!-- Notícias --> 
	<section>
		<h1>Notícias</h1>
	</section>

	<!-- Eventos --> 
	<section>
		<h1>Eventos</h1>
	</section>

	<!-- Depoimentos -->
	<section class="">
		<h1>Depoimentos</h1>
		<p>Um slider bem legal</p>
	</section>

	<!-- Patrocinadores -->
	<section class="">
		<h1>Apoio</h1>
	</section>

</div>
