<!-- Home da página -->
<section id="home">
	<div class="home-img">
		<h1 class="container frase-home text-right">Semear ideias ecológicas e plantar<br>
			sustentabilidade é ter a garantia de colhermos <br>um futuro fértil e consciente!</h1>
	</div>
</section>

<!-- TODO: section de Quem somos
	pra falar um pouco sobre animais e da adoção
 -->

<div class="container">
	<br><br>
	<!-- Notícias -->
	<section id="noticias">
		<h2 class="home-title">Notícias</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="card card-noticias">
					<img src="../imgs/atlantic-ocean-blue-ocean-blue-water-2860703.jpg"
						class="card-img-top news-card-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Com a escassez, a água pode se transformar em um bom investimento</h5>
						<p class="card-text">É fácil supor que a água nunca vai acabar. Ela cai do céu, e, embora seja
							vital, às vezes
							a tratamos como se fosse inútil. Quantas vezes você já viu sprinklers funcionando
							debaixo de chuva? ... </p>
						<button class="btn-leia-mais"><a href="/noticias/agua-bom-investimento">Leia mais
								>></a></button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-noticias">
					<img src="../imgs/agriculture-countryside-crop-2332736.jpg" class="card-img-top news-card-img"
						alt="...">
					<div class="card-body">
						<h5 class="card-title">A agricultura é aliada, não inimiga do clima</h5>
						<p class="card-text">Para começar, é bom lembrar que o principal movimento da agricultura a
							favor do clima é
							fazer sua parte para acabar com o desmatamento ilegal. Nos últimos meses, graças a
							explosão do desmatamento da Amazônia, ...</p>
						<button class="btn-leia-mais"><a href="/noticias/agricultura-aliada">Leia mais >></a></button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card card-noticias">
					<iframe class="news-card-img" src="https://www.youtube.com/embed/tBr6GvbeJvo" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					<div class="card-body">
						<h5 class="card-title">O que é essa tal sustentabilidade?</h5>
						<p class="card-text">Sustentabilidade é uma expressão que ganhou força no final dos anos 80,
							mais precisamente em 1987 com o
							lançamento do Relatório Brundtland ou “Our Common Future”. O nome Relatório Brundtland se
							deu em ...</p>
						<button class="btn-leia-mais"><a href="/noticias/sustentabilidade-o-que">Leia mais
								>></a></button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Eventos -->
	<section id="eventos">
		<h2 class="home-title">Eventos</h2>
		<div class="alert card-group">
			{{#each eventos}}
			<div class="card card-eventos">
				<h5 class="card-title">{{nome}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{data}}</h6>
				<p class="card-text">{{descricao}}</p>
			</div>
			{{/each}}
		</div>
	</section>
	<br><br>

	<!-- Depoimentos -->
	<section id="depoimentos">
		<h2 class="home-title">Depoimentos</h2>
		<div class="container reviews">
			<div class="container">
				<ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
					<li>
						<img src="../imgs/gal-bason-profile-round.png"
							class="wpx-100 img-round mgb-20 border-0" title="" alt="" data-edit="false"
							data-editor="field"
							data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
						<p class="depo-text" contenteditable="false">"Eu simplesmente AMO essa iniciativa! Comecei
							acompanhando o
							Instagram e depois conheci o site. Desde então, fui em vários dos eventos divulgados,
							conheci pessoas maravilhosas e agora tô cada vez mais por dentro de tudo que tem com
							sustentabilidade."
						</p>
						<p><span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span></p>
						<h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Bia Pimentel </h5>
						<small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Estudante  -
							Niterói</small>
					</li>
					<li>
						<img src="../imgs/profile-girl-round.png" class="wpx-100 img-round mgb-20 border-0" title=""
							alt="" data-edit="false" data-editor="field"
							data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
						<p class="depo-text" contenteditable="false">" Sempre pensei que seria uma ótima ideia se
							existisse uma
							plataforma para que pudéssemos nos manter atualizados facilmente tendo acesso a notícias,
							vídeos e eventos
							relacionados ao tema sustentabilidade. E é exatamente isso que esse site nos traz, além de
							muito mais! "
						</p>
						<p><span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span></p>
						<h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Mariana Ferreira</h5>
						<small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Ativista pela Amazônia
							- Rio de Janeiro</small>
					</li>
					<li>
						<img src="../imgs/Profile-round-pj.png" class="wpx-100 img-round mgb-20 border-0" title=""
							alt="" data-edit="false" data-editor="field"
							data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
						<p class="depo-text" contenteditable="false">" Sou cliente assíduo da loja virtual, e já adotei
							3 espécies.
							Também acho incrível poder criar e assinar abaixo-assinados de forma tão simples e rápida,
							além de poder
							receber notícias no meu e-mail. Meu apoio é garantido, continuem com o ótimo trabalho!
							"</p>
						<p><span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span></p>
						<h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Timoteo Botelho</h5>
						<small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Professor -
							Belford Roxo</small>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<br><br>

	<!-- Patrocinadores -->
	<section id="patrocinadores">
		<h2 class="home-title text-center">Patrocinadores</h2>
		<div class="logos">
			<a class="logo-img" href="https://awionline.org/" target="_blank"><img
					src="../imgs/patrocinadores/animal_welfare_institute.png"></a>
			<a class="logo-img" href="//www.capimlimaoveg.com.br" target="_blank"><img
					src="../imgs/patrocinadores/capim_limao.png"></a>
			<a class="logo-img" href="https://www.greenpeace.org/brasil/" target="_blank"><img
					src="../imgs/patrocinadores/greenpeace.png"></a>
		</div>
		<div class="space"></div>
		<div class="logos">
			<a class="logo-img" href="https://www.natura.com.br/" target="_blank"><img
					src="../imgs/patrocinadores/natura.png"></a>
			<a class="logo-img" href="https://www.teamcatrescue.ca/" target="_blank"><img
					src="../imgs/patrocinadores/team_cat_rescue.png"></a>
			<a class="logo-img" href="https://www.urbanflowers.com.br/" target="_blank"><img
					src="../imgs/patrocinadores/urban_flowers.png"></a>
		</div>
	</section>
</div> <!-- fecha div container -->