<!-- Home da página -->
<section id="home">
	<div class="home-img">
		<h1 class="frase-home">Semear ideias ecológicas e plantar sustentabilidade é ter a garantia de colhermos um
			futuro fértil e consciente!</h1>
	</div>
</section>

<!-- Quem somos -->

<div class="container">
	<br><br>
	<!-- Notícias -->
	<section id="noticias">
		<h2>Notícias</h2> <button class="btn btn-primary btn-small">ver mais</button>
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
					<img src="../imgs/windows xp.jpg" class="card-img-top news-card-img" alt="...">
					<div class="card-body">
						<h5 class="card-title">Com a escassez, a água pode se transformar em um bom investimento</h5>
						<p class="card-text">É fácil supor que a água nunca vai acabar. Ela cai do céu, e, embora seja vital, às vezes
							a tratamos como se fosse inútil. Quantas vezes você já viu sprinklers funcionando
							debaixo de chuva? ... </p>
						<a href="/noticias/agua-bom-investimento" class="btn btn-primary">Leia mais</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<img src="../imgs/agriculture-countryside-crop-2332736.jpg" class="card-img-top news-card-img"
						alt="...">
					<div class="card-body">
						<h5 class="card-title">A agricultura é aliada, não inimiga do clima</h5>
						<p class="card-text">Para começar, é bom lembrar que o principal movimento da agricultura a favor do clima é
							fazer sua parte para acabar com o desmatamento ilegal. Nos últimos meses, graças a
							explosão do desmatamento da Amazônia, ...</p>
						<a href="/noticias/agricultura-aliada" class="btn btn-primary">Leia mais</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card">
					<iframe class="news-card-img" src="https://www.youtube.com/embed/tBr6GvbeJvo" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					<div class="card-body">
						<h5 class="card-title">O que é essa tal sustentabilidade?</h5>
						<p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget tempus
							ligula. Vestibulum id mattis turpis, in dignissim massa. Praesent nisi libero, sagittis in
							arcu sed, rhoncus vestibulum nunc. Duis scelerisque nec libero a cursus. Curabitur at metus
							eget enim facilisis ultrices consequat eleifend elit. Morbi suscipit, arcu eget sollicitudin
							laoreet, magna nibh iaculis urna, id vestibulum justo augue sed enim. Nullam pulvinar, odio
							in vehicula iaculis, felis tellus ultrices turpis, ac feugiat mi nisi at mi. Vestibulum ante
							ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec a aliquam
							odio. Donec suscipit turpis ut mi accumsan vestibulum. Integer a nulla placerat, gravida
							turpis blandit, malesuada lacus. Suspendisse eros nunc, condimentum sit amet justo vel,
							lacinia blandit augue. Curabitur iaculis est at lacinia facilisis. Pellentesque vel metus
							nisl. Nunc erat erat, ultrices a leo nec, finibus sodales lectus. Suspendisse potenti.</p>
						<a href="/noticias/sustentabilidade-o-que" class="btn btn-primary">Leia mais</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Eventos -->
	<section id="eventos">
		<h2>Eventos</h2>
		<div class="alert alert-danger" role="alert">
			Não há eventos cadastrados!
		</div>
	</section>
	<br><br>

	<!-- Depoimentos -->
	<section id="depoimentos">
		<h2>Depoimentos</h2>
		<section id="reviews">
			<div class="col-sm-10 ml-auto mr-auto text-center">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
								Eu sempre pensei que seria uma ótima ideia se existisse uma plataforma para que
								pudéssemos nos manter atualizados facilmente tendo acesso notícias, vídeos e eventos
								relacionados ao tema sustentabilidade.
								E é exatamente isso que esse site nos traz, além de muito mais! Sou cliente assídua da
								loja virtual, e já adotei 3 espécies. Meu apoio é garantido, continuem com o ótimo
								trabalho! <i class="fa fa-quote-right" aria-hidden="true"></i></p>
							<p class="review-name">Bianca, 24 anos</p>
							<div class="stars">
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							</div>
						</div>
						<div class="carousel-item">
							<p class="review-body"><i class="fa fa-quote-left" aria-hidden="true"></i>
								Eu simplesmente AMO essa iniciativa! Comecei acompanhando o Instagram e depois conheci o
								site. Desde então, fui em vários dos eventos divulgados, conheci muitas pessoas
								maravilhosas e agora tô cada vez mais por dentro de tudo que tem a ver com
								sustentabilidade :)
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</p>
							<p class="review-name">Mione, 17 anos</p>
							<div class="stars">
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
								<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<br><br>

	<!-- Patrocinadores -->
	<section id="patrocinadores">
		<h2>Patrocinadores</h2>



	</section>
</div> <!-- fecha div container -->