* {
	font-family: 'Roboto';
}

#mainNav, footer {
	background-color: #E8E7E3;
}

.logo{
    position: relative;
	max-height: 45px;
    size: contain;
}

.nav-item {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: small;
}


#home {
}

.home-img {
	height: 100vh;
	background-image: url('../imgs/art-close-up-ecology-886521.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	max-width: 100%;
}

.frase-home {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
	color: #5d564f;
	text-shadow: 1px 1px 2px #ffffff;
	text-align: right;
	padding-top: 40vh; 
	padding-bottom: 10%;
	padding-left: 40%;
	
	
}

h2 {
	padding-bottom:  1%;
}

#noticias {
	height: 100vh;
	padding-top: 5%;
}

.card-text {
	font-size: 0.6em;
}

.news-card-img {
	width: 100%;
	height: 120px;
}


#eventos {	
	padding-top: 5%;
}

#patrocinadores {
	height: 50vh;
	padding-top: 5%;
}


#depoimentos {
  height: 50vh;
  padding-top: 5%;
  
}

/* Depoimentos */

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

.depo-text {
	font-size: 0.8em;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}

.checked {
	color: orange;
  }

/* Fim Depoimentos */


#contatos {

}
