* {
	font-family: 'Roboto';
	font-size: small;
}

.nav-item {
	font-family: 'Roboto';
	font-weight: bold;
}
#home {
	background-image: url('../imgs/windows xp.jpg');
}

.home-img {
	height: 100vh;
	background-image: url('../imgs/art-close-up-ecology-886521.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

.frase-home {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
	color: #5d564f;
	text-shadow: 1px 1px 2px #ffffff;
	text-align: right;
	padding-top: 320px; /**/
	padding-right: 100px;
	padding-left: 400px;
}



#noticias {
	height:100vh;
}

.video-news {
	width: 100%;
}


#eventos {

}

#patrocinadores {
	height: 50vh;
}



#depoimentos {
  height: 50vh;
}

section#reviews{
	padding: 50px 0;
    color: #5d564f;
    background: #f7f7f7;
}


section#home-reviews h2{
	font-size: 1.75rem;
	text-transform: uppercase;
	margin-bottom: 50px;
}

section#home-reviews p{
	font-size: 13pt;
}
.stars{
	color: #BB8B41;
}



#contatos {

}
