* {
	font-family: 'Roboto';
	font-size: small;
}

.nav-item {
	font-family: 'Roboto';
	font-weight: bold;
}
#home {
	background-image: url('../imgs/windows\ xp.jpg');
}

.home-img {
	height: 100vh;
	background-image: url('../imgs/windows\ xp.jpg');
	background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.frase-home {
	text-align: center;
	padding-top: 200px; /**/
}

#noticias {
	height:100vh;
}

.video-news {
	width: 100%;
}

#eventos {

}

#patrocinadores {
	height: 50vh;
}

#depoimentos {
  height: 50vh;
}

#contatos {

}
