<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h1 class="news-home-title">notícias</h1>
			<div class="date">
				<div class="dot"></div>
				<h3 class="news-home-date">07 set 2019</h3>
			</div>
		</div>
	</div>
</section>
<section class="noticias-post">
	<div class="container">
		<h1 class="news-title">O que é essa tal sustentabilidade?</h1>
		<h5 class="news-subtitle">Afinal, você consegue definir sustentabilidade? O que esse termo engloba?
		</h5>

		<div class="row">
			<div class="col-md-6">
				<p>Sustentabilidade é uma expressão que ganhou força no final dos anos 80, mais precisamente em 1987 com o
					lançamento do Relatório Brundtland ou “Our Common Future”. O nome Relatório Brundtland se deu em homenagem a
					Gro Harlem Brundtland, que, na ocasião, era a primeira-ministra da Noruega e chefe da Comissão Mundial sobre o
					Meio Ambiente e Desenvolvimento da ONU – Organização das Nações Unidas.</p>

				<p>Citado pela primeira vez no Relatório Brundtland, o termo desenvolvimento sustentável foi entendido como “a
					satisfação das necessidades presentes, sem comprometer a capacidade das gerações futuras de suprir suas
					próprias necessidades”. E desde então, o conceito transformou-se em uma referência mundial e rapidamente
					adotado pelas diversas causas sociais e ambientais em todo o mundo, transcendendo sua amplitude política e
					governamental, atingindo o mundo corporativo e por consequência, seus colaboradores e cidadãos.</p>

				<p>Outro marco na difusão do termo, principalmente para o mundo corporativo, foi o conceito do tripé da
					sustentabilidade. O “triple bottom line” foi criado nos anos 1990 por John Elkington. Seu argumento era que as
					empresas
					deviam prestar contas em três indicadores distintos: social, ambiental e econômico, e não apenas em um, no
					caso, o econômico.</p>
			</div>
			<div class="col-md-6">
				<div class="space"></div>
				<iframe class="img-news-post" height="400" src="https://www.youtube.com/embed/tBr6GvbeJvo" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="space"></div>
				<p class="big-paragraph">Hoje em dia a palavra faz parte do vocabulário das pessoas que usam o termo
					“sustentabilidade” com frequência, e sem a sua devida compreensão.</p>
			</div>
			<div class="col-md-6">
				<p>Com exceção dos especialistas que atuam na área, a grande maioria reduz o seu real significado. É comum as pessoas pensarem que sustentabilidade trata apenas de meio ambiente (recursos naturais), ou então, apenas de filantropia e responsabilidade social.
					Outra dificuldade para a compreensão correta do termo é que seu real significado bate de frente com hábitos arraigados em uma cultura que supervaloriza o consumo e os resultados rápidos.  A sustentabilidade não é imediatista e muito menos superficial. 
				</p>
				<p>Essa tal sustentabilidade não divide pessoas, ambientes, tecnologias, etc. Pelo contrário, agrega,
					administra, recupera e dialoga. Não desequilibra, harmoniza. E, se sustenta no mínimo, em um tripé (ou em
					quatro ou quantos pés forem necessários).

					Essa tal sustentabilidade nada mais é do que trabalhar por ambientes, sistemas e mundos mais equilibrados e
					perenes. Trabalhar pelo bem de todos, e não apenas de alguns. Trabalhar hoje sem esquecer o amanhã. E tudo
					dentro de uma escala de valores não excludentes, e que trazem em seu bojo, a ética, a solidariedade, o
					respeito, a inteligência e a diversidade. Esta tal sustentabilidade não é fácil nem simples, mas é a melhor
					escolha para nortear pessoas, empresas, cidades e países.</p>

			</div>
		</div>

		<p class="conteudo-original">conteúdo original <a
				href="https://www.pensamentoverde.com.br/sustentabilidade/essa-tal-sustentabilidade/">aqui</a>
		</p>
	</div>
	</div>
</section>