<section id="noticias2-home">
    <div class="news-home">
        <div class="container">
        <h1 class="frase-home">notícias</h1>
        </div>
    </div>
</section>
<section id="noticias-post">
    <div class="container">
        <h1>A agricultura é aliada, não inimiga do clima</h1>
        <p class="lead">O setor do agronegócio pode não só preservar as florestas como reduzir o excesso de carbono na atmosfera,
            estocando nos solos cultivados</p>

        <p>É completamente falso o pretenso dilema entre desenvolvimento agrícola e preservação ambiental. Ao contrário,
            a agricultura brasileira pode ajudar a salvar o clima da Terra. E de várias formas – uma delas, que pouca
            gente conhece, deve começar a conquistar o interesse dos agricultores e empresas do setor pelo potencial de
            retorno financeiro.</p>

        <p>Para começar, é bom lembrar que o principal movimento da agricultura a favor do clima é fazer sua parte para
            acabar com o desmatamento ilegal. Nos últimos meses, graças a explosão do desmatamento da Amazônia, o
            agronegócio do país tem sido associado (em parte pelo apoio dado ao governo) a práticas que estimulam a
            devastação ambiental. Isso preocupa porque o desmatamento da Amazônia é sozinho a terceira maior fonte
            global de emissão de gases de efeito estufa, responsáveis pelo aquecimento da Terra. O desmatamento é a
            maior contribuição do país para a mudança do clima. Por causa da derrubada de florestas, que guardam
            carbono, o Brasil é um dos cinco maiores emissores dos gases de efeito estufa.</p>

        <p>Não precisa ser assim. Primeiro, a agricultura brasileira não precisa de mais desmatamento. Existe o
            equivalente a três vezes o estado de São Paulo já desmatados e mal utilizados. As florestas derrubadas não
            dão lugar a cultivos relevantes para o país, mas a uma pastagem pobre que sustenta poucos bois por menos de
            dez anos antes de se esgotar. A área aberta e desperdiçada no Brasil é mais do que suficiente para atender
            toda a demanda de produtos que o país pode produzir. Ajudar a interromper esse ciclo de destruição inútil
            seria a maior contribuição do setor agro do Brasil para nossa economia, nossa sociedade, e também para o
            resto do mundo.</p>

        <p>Mas não é só. A segunda oportunidade para o agro brasileiro ajudar a salvar o mundo é menos badalada mas pode
            ser bem lucrativa. Os agricultores brasileiros podem ajudar a tirar o excesso de concentração de gás
            carbônico na atmosfera da Terra. Como? Adotando práticas para guardar carbono no solo. Os solos
            agricultáveis, em todo o mundo, guardam em sua composição 1% de carbono. Esse é o material orgânico de
            vegetais, bactérias, fungos ou matéria decomposta. Antes da agricultura industrial esse volume chegou a ser
            de 3%. É perfeitamente possível fazer a concentração de carbono estocada no solo voltar aos níveis
            ancestrais com um pacote de boas práticas de manejo como plantio direto (que não deixa o solo descoberto),
            uso racional de defensivos e fertilizantes ou a rotação de culturas.</p>

        <p>Uma startup americana, a Indigo AG, tem a ambição de impulsionar em todo o mundo essas práticas para estocar
            carbono no solo. A principal iniciativa da empresa é a criação do Indigo Carbon, um mercado global onde os
            produtores rurais podem vender os créditos pelo carbono guardado sob seus cultivos. O valor pago será
            determinado pelo mercado, mas a estimativa é seja entre 15 e 20 dólares por tonelada de carbono sequestrado.
            É um valor menor que o atualmente pago em outros projetos de compensação, mas suficiente para atrair os
            agricultores, que hoje estão fora desse mercado (com exceção de projetos pontuais ligados à área florestal
            preservada de algumas grandes propriedades).</p>

        <p>Outras iniciativas da empresa são o Terraton Experiment, um laboratório colaborativo global, onde os
            produtores rurais autorizaram a coleta de dados em suas propriedades para avaliar os efeitos das melhores
            práticas e seus resultados no sequestro de carbono. E duas outras iniciativas do tipo competição, uma para
            pesquisadores que apresentam evoluções técnicas (Terraton Challenge), outra para agricultores que conseguem
            os melhores resultados (Terraton Cup). A Indigo está mirando no mercado brasileiro.</p>

        <p>Para aumentar o estoque de carbono no solo, o agricultor precisa mudar suas práticas. “Mudanças
            significativas não acontecem aos poucos, substituindo um tipo de cultivo por outro”, afirma David Perry, CEO
            da Indigo. “É preciso mudar todo o sistema de plantio.” O que ele chama de “práticas regenerativas” incluem
            várias medidas simultâneas. “Os agricultores mais bem sucedidos serão aqueles que fizerem a transição para
            um sistema mais benéfico, que incorporem um pacote de técnicas: cobrir o cultivo (com árvores ou cobertura
            artificial), fazer rotação de culturas, não revolver o solo e aumentar a diversidade de plantios. Além
            disso, no caso da pecuária, fazer um manejo integrado do rebanho com a área plantada, usando os animais para
            enriquecer o solo. Nesta técnica, além de produzir os grãos que costuma plantar, o produtor também planta
            alguma gramínea para servir de pasto e inclui o gado em sua cesta de produtos.</p>

        <p>Cada tipo de cultivo e cada região do Brasil tem uma solução específica de rotação de cultivos para deixar a
            terra sempre coberta, e uma camada de palha que protege o solo, afirma João Carlos de Moraes Sá, professor
            do Departamento de Solos e Engenharia Agrícola da Universidade Estadual de Ponta Grossa. No Cerrado, por
            exemplo, ele recomenda usar a safrinha de milho, após a soja, com a braquiária ou o milheto para manter o
            solo permanentemente coberto e proporcionar o maior sequestro.</p>

        <p>Desde o lançamento da iniciativa, no ano passado, vários produtores rurais, principalmente nos Estados
            Unidos, já se inscreveram. Somam cerca de 2 milhões de hectares.</p>

        <p>É claro que para conseguir um crédito pelo estoque de carbono no solo o agricultor precisa estar em dia com
            as regulações ambientais. Ou seja, precisa respeitar a regra do bioma para manter reserva legal, e manter as
            áreas de preservação permanente (encostas de morros e margens de rios).</p>

        <p>conteúdo original <a
                href="https://exame.abril.com.br/blog/ideias-renovaveis/a-agricultura-e-aliada-nao-inimiga-do-clima/">aqui</a>
        </p>

    </div>
</section>