<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h1 class="news-home-title">notícias</h1>
			<div class="date">
				<div class="dot"></div>
				<h3 class="news-home-date">24 ago 2019</h3>
			</div>
		</div>
	</div>
</section>
<section id="noticias-post">
	<div class="container">
		<h1 class="news-title">Com a escassez, a água pode se transformar em um bom investimento</h1>
		<p class="lead">Você está disposto a comprar ações de empresas que podem não distribuir o recurso natural para
			quem mais precisa?
		</p>

		<div class="row">
			<div class="col-md-6">
				<p>É fácil supor que a água nunca vai acabar. Ela cai do céu, e, embora seja
					vital, às vezes a tratamos como se
					fosse inútil. Quantas vezes você já viu sprinklers funcionando debaixo de chuva?</p>

				<p>No entanto, a perspectiva de escassez em alguns anos poderá tornar a água uma
					mercadoria preciosa. Isso
					representa uma oportunidade para os investidores.</p>

				<p>Um pequeno grupo de fundos mútuos tradicionais e fundos negociados na bolsa
					(ETF) já investem nela,
					principalmente em empresas que contribuem para a distribuição, o teste e a limpeza da água. Essas
					empresas podem
					crescer à medida que os governos em todo o mundo se esforçam para conter a esperada falta d’água.
				</p>

				<p>“A escassez de água é um fenômeno global”, disse Andreas M. Fruschki, gerente de portfólio do
					AllianzGI Global
					Water Fund. “E é mais acentuada em regiões com maior crescimento populacional”, como o subcontinente
					indiano e o
					Oriente Médio.</p>
				<p>O crescimento populacional, as alterações climáticas e a poluição afetam o fornecimento de água doce
					do
					mundo. O
					Programa das Nações Unidas para o Meio Ambiente previu que metade da população mundial pode
					enfrentar
					estresse
					hídrico severo até 2030. Os gastos anuais de US$ 200 bilhões, um aumento da média histórica de cerca
					de
					US$ 40
					bilhões a US$ 45 bilhões, são necessários agora para manter as torneiras funcionando, disse um
					relatório
					de 2016
					das Nações Unidas.</p>

				<p>Mesmo os países desenvolvidos enfrentam custos crescentes para fornecer água, porque ela é pesada e
					difícil de
					transportar em longas distâncias. “A chuva em Nova York não ajuda o sul da Califórnia”, afirmou
					Fruschki. Além
					disso, a infraestrutura antiquada precisa ser substituída, disse ele. Isso gera a escassez de água e
					a
					perda de
					sete trilhões de litros de água potável por ano nos Estados Unidos, de acordo com a Sociedade
					Americana
					de
					Engenheiros Civis no Relatório de Infraestrutura de 2017.</p>

			</div>

			<div class="col-md-6">
				<img src="../../imgs/windows xp.jpg" class="img-news-post">
			</div>
		</div>
		<p class="conteudo-original">conteúdo original <a
				href="https://exame.abril.com.br/seu-dinheiro/com-a-escassez-a-agua-pode-se-transformar-em-um-bom-investimento/">aqui</a>
		</p>

	</div>
</section>