<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h1 class="news-home-title">eventos</h1>
		</div>
	</div>
</section>
<div class="space"></div>
<section id="eventos-agenda">
    <div class="container">
        Agenda goes here <br>
        Form de inscrição na agenda goes here
    </div>
    <div class="space"></div>
</section>