<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h1 class="news-home-title">eventos</h1>
		</div>
	</div>
</section>
<div class="space"></div>
<section id="eventos-agenda">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<p>Conhece algum evento que não está aqui?
					Cadastre ele para que todo mundo colabore! <a href="/eventos/eventos-new"><button class="btn btn-primary">novo evento</button></a> </p>
			</div>
			<div class="col-lg-3">
				<div id="agenda-inscrever" class="agenda-inscrever">
					<p>Quer saber de todos os nossos eventos?</p>
					<p>Inscreva-se aqui e receba por email as novidades:</p>

					<form method="post" action="/agenda-inscrito"> 
						<div class="form-row">
							<div class="col">
								<input type="text" name="emailinscrito" class="form-control" placeholder="Email">
							</div>
							<div class="col-auto">
								<button type="submit" class="btn btn-primary mb-2">Enviar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="space"></div>
</section>