<section id="noticias1-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h1 class="news-home-title">adote uma espécie</h1>
            <h5 class="header-subtitle">Adote simbolicamente uma espécie ameaçada de extinção e ajude as ONGs a proteger esses animais e seus habitats</h4>
        </div>
    </div>
</section>
<section>
    <br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../imgs/especies/arara-azul-grande.jpg" alt="Foto de Arara Azul por Carlos Alberto Coutinho">
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card card-body h-100 justify-content-center">
                        <h5 class="card-title orange-title">Arara-azul-grande</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nome científico: Anodorhynchus hyacinthinus</h6>
                        <p class="card-text">A presença da arara-azul é um importante indicador de saúde ambiental. A conservação do Pantanal passa pela sua proteção. Contudo, essa bela ave que encanta a todos com sua cor vibrante e som alegre vem sofrendo com a  destruição dos habitats e com a captura ilegal para tráfico de animais silvestres e quase desapareceu das matas brasileiras. Embora o aumento do número de indivíduos seja significativo, a arara-azul ainda é uma espécie considerada ameaçada de extinção em razão da baixa taxa de natalidade, da falta de cavidades para reprodução, da destruição do habitat natural por causa da coleta de ovos e filhotes para tráfico.</p>
                        <p class="card-text"> Fontes: <a href="http://www.institutoararaazul.org.br/instituto">Instituto Arara Azul</a>, <a href="https://www.wwf.org.br">WWF</a>
                        </p>
                        <a href="/adote/adote-arara" class="btn btn-success btn-adote">Adote essa espécie!</a>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="card card-body h-100 justify-content-center">
                        <h5 class="card-title orange-title">Gato-maracajá</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nome científico: Leopardus wiedii</h6>
                        <p class="card-text">O gato-maracajá é um felino silvestre que também apresenta manchas sobre o corpo. Uma característica marcante da espécie são os grandes olhos, desproporcionais em relação à cabeça, algo decorrente de seus hábitos preferencialmente noturnos.
                        A espécie se encontra listada como "quase ameaçada" pela IUCN e como ameaçada de extinção pelo IBAMA. Estima-se que nos próximos 15 anos a população sofrerá um declínio de pelo menos 10%, principalmente pela perda e fragmentação de habitat relacionadas a expansão agrícola. No Brasil, a espécie já se encontra na lista vermelha (ameaçado) do Estado da Bahia.
                        </p>
                        <p class="card-text"> Fonte: <a href="http://www.icmbio.gov.br/revistaeletronica/index.php/BioBR/article/view/373">ICMBio</a>
                        </p>
                        <a href="/adote/adote-gato" class="btn btn-success btn-adote">Adote essa espécie!</a>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../imgs/especies/Margaykat_Leopardus_wiedii.jpg" alt="Foto de Gato Maracajá por Malene Thyssen">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../imgs/especies/mico1.jpg" alt="Foto de Mico Leão Dourado por EFE/Marcelo Sayão">
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card card-body h-100 justify-content-center">
                        <h5 class="card-title orange-title">Mico-leão-dourado</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nome científico: Leontopithecus rosalia</h6>
                        <p class="card-text">A imagem do pequeno primata de cerca de 60 centímetros de altura já correu o mundo e, desde os anos 70, é um dos símbolos da luta pela conservação da diversidade biológica. Isso porque o mico-leão-dourado está há muito tempo ameaçado de extinção.
                        O compromisso do país com a Convenção sobre Diversidade Biológica das Nações Unidas é proteger em unidades de conservação 10% da área original da Mata Atlântica. No entanto, os remanescentes desse bioma são tão poucos e pequenos, que nosso desafio atualmente é proteger integralmente todos os fragmentos de floresta que ainda restam.
                        </p>
                        <p class="card-text"> Fonte: <a href="https://www.wwf.org.br">WWF</a>
                        </p>
                        <a href="/adote/adote-mico" class="btn btn-success btn-adote">Adote essa espécie!</a>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="card card-body h-100 justify-content-center">
                        <h5 class="card-title orange-title">Onça-pintada</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nome científico: Panthera onca</h6>
                        <p class="card-text">A população do maior felino das Américas está caindo. A onça-pintada, um carnívoro que pode chegar a até 135 kg e 75 cm de altura, já é considerada oficialmente extinta nos Estados Unidos e está sob ameaça em outros países. No Brasil, a espécie é vulnerável, mas o status de avaliação muda conforme o bioma no qual ela vive. A situação é mais delicada na caatinga, onde o animal está criticamente ameaçado de extinção.
                        A devastação ambiental e o avanço da agricultura são ameaças constantes para as onças em todos os biomas. Conforme a presença humana avança sobre as áreas nativas, a onça recua para se afastar do convívio.
                        </p>
                        <p class="card-text"> Fontes: <a href="https://g1.globo.com/natureza/desafio-natureza/noticia/2019/02/21/maior-felino-das-americas-a-onca-pintada-esta-criticamente-ameacada-de-extincao-na-caatinga.ghtml">G1</a>, <a href="https://www.wwf.org.br">WWF</a>
                        </p>
                        <a href="/adote/adote-onca" class="btn btn-success btn-adote">Adote essa espécie!</a>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../imgs/especies/onca-pintada.jpg" alt="Foto de Onça Pintada por WWF / AFP">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../imgs/especies/tartaruga.jpg" alt="Foto de Tartaruga Oliva por Thierry Caro <https://commons.wikimedia.org/wiki/User:Thierry_Caro>">
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card card-body h-100 justify-content-center">
                        <h5 class="card-title orange-title">Tartaruga-oliva</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nome científico: Lepidochelys olivacea</h6>
                        <p class="card-text">A tartaruga-oliva possui este nome devido à cor esverdeada que a sua pele e carapaça possuem.
                        Apesar da tartaruga-oliva ser considerada a tartaruga-marinha mais abundante, de acordo com as estimativas, a espécie encontra-se em perigo.  Os números de indivíduos no Atlântico ocidental têm decrescido bastante (30%). Muitos governos têm legislação para proteger a espécie, mas, mesmo assim, muitos ovos e fêmeas nidificantes são mortas devido à sua carne e pele. A redes de pesca também causam afogamentos destas tartarugas, quando são capturadas acidentalmente.
                        </p>
                        <p class="card-text"> Fonte: <a href="https://www.nationalgeographic.com/animals/reptiles/o/olive-ridley-sea-turtle/">National Geographic</a>
                        </p>
                        <a href="/adote/adote-tartaruga" class="btn btn-success btn-adote">Adote essa espécie!</a>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="card card-body h-100 justify-content-center">
                        <h5 class="card-title orange-title">Lobo-guará</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nome científico: Chrysocyon brachyurus</h6>
                        <p class="card-text">Parente dos lobos selvagens e dos cachorros domésticos, o lobo-guará é um animal típico do Cerrado e maior canídeo da América do Sul. Apesar do porte imponente e da alcunha de “lobo”, é tímido, solitário e praticamente inofensivo, preferindo manter distância de populações humanas. A perda de habitat, principalmente, aliada à caça predatória e a expansão da agricultura (conflitos devido a predações ocasionais do lobo-guará sobre animais domésticos) e até atropelamentos são as principais ameaças às populações de lobo-guará, que têm sofrido um declínio significativo. Eles são classificados pela IUCN como “Quase ameaçados” (Near Threatened) e pelo ICMBio, como Vulnerável à extinção, sendo objeto de um plano de ação nacional cujo objetivo é a sua conservação
                        </p>
                        <p class="card-text"> Fontes: <a href="https://www.oeco.org.br/blogs/especies-em-risco/27097-o-que-e-o-lobo-guara/">O Eco</a>, <a href="https://www.wwf.org.br">WWF</a>
                        </p>
                        <a href="/adote/adote-lobo" class="btn btn-success btn-adote">Adote essa espécie!</a>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../../imgs/especies/lobo-guara.jpg" alt="Foto de Lobo Guará por Gustavo Figueirôa/Onçafari">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space"></div>