<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h5 class="header-subtitle">adote uma espécie</h1>
				<h1 class="news-home-title">Tartaruga-oliva</h4>
		</div>
	</div>
</section>
<section class="">
	<div class="container">
		<div class="space"></div>
		<div class="row">
			<div class="col-md-6">
				<img class="show-especie-img" src="../../imgs/especies/tartaruga.jpg">
			</div>
			<div class="col-md-6">
				<h1 class="orange-title">Adote o Tartaruga-oliva!</h1>
				<p>A tartaruga-oliva é a menor de todas as espécies de tartarugas marinhas, com peso entre 35-50 kg,
					sendo uma espécie altamente migratória. Sua carapaça possui de 6 a 12 pares de placas laterais
					justapostas, sua coloração pode variar de cinza claro a verde escuro com o seu ventre amarelo claro,
					sua cabeça possui 2 pares de placas pré-frontais e 3 pares pós-orbitais. O comprimento de seu casco
					mede 68 cm em média.</p>
			</div>
		</div>
		<div class="space"></div>
		{{>formAdote nomeEspecie="Tartaruga-oliva"}}
	</div>
</section>
<div class="space"></div>