<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h5 class="header-subtitle">adote uma espécie</h1>
				<h1 class="news-home-title">Mico-leão-dourado</h4>
		</div>
	</div>
</section>
<section class="">
	<div class="container">
		<div class="space"></div>
		<div class="row">
			<div class="col-md-6">
				<img class="show-especie-img" src="../../imgs/especies/mico1.jpg">
			</div>
			<div class="col-md-6">
				<h1 class="orange-title">Adote o Mico-leão-dourado!</h1>
				<p>O mico-leão-dourado é também conhecido simplesmente como mico-leão ou saguipiranga. É uma espécie de
					primata endêmica do Brasil. São animais diurnos e muito ativos durante as primeiras horas da manhã.
					Os comportamentos sociais são muito semelhantes a de outros primatas.</p>
			</div>
		</div>
		<div class="space"></div>
		{{>formAdote nomeEspecie="Mico-leão-dourado"}}
	</div>
</section>
<div class="space"></div>