<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h5 class="header-subtitle">adote uma espécie</h1>
				<h1 class="news-home-title">Gato Maracajá</h4>
		</div>
	</div>
</section>
<section class="">
	<div class="container">
		<div class="space"></div>
		<div class="row">
			<div class="col-md-6">
				<img class="show-especie-img" src="../../imgs/especies/Margaykat_Leopardus_wiedii.jpg">
			</div>
			<div class="col-md-6">
				<h1 class="orange-title">Adote o Gato Maracajá!</h1>
				<p>O gato-maracajá é um pequeno gato selvagem nativo da América Central e do Sul. De hábitos solitários e noturnos, esse felino vive em florestas primárias perenes e decíduas.</p>
			</div>
		</div>
		<div class="space"></div>
		{{>formAdote nomeEspecie="gato"}}
	</div>
</section>
<div class="space"></div>