<section id="noticias1-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h5 class="header-subtitle">adote uma espécie</h1>
            <h1 class="news-home-title">Onça-pintada</h4>
        </div>
    </div>
</section>
<section class="">
	<div class="container">
		<div class="space"></div>
		<div class="row">
			<div class="col-md-6">
				<img class="show-especie-img" src="../../imgs/especies/onca-pintada.jpg">
			</div>
			<div class="col-md-6">
				<h1 class="orange-title">Adote o Onça-pintada!</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
					industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
					leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
					with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
					publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
		<div class="space"></div>
		<form>
			<div class="form-group">
				<label for="email-adote">Informe seu email:</label>
				<input type="email" class="form-control" id="email-adote" aria-describedby="emailHelp"
					placeholder="Insira seu email">
				<small id="emailHelp" class="form-text text-muted">Nós iremos enviar as informações de pagamento por
					email.</small>
			</div>
			<div class="form-group">
				<label for="nome-adote">Seu nome:</label>
				<input type="text" class="form-control" id="nome-adote" placeholder="Insira seu nome">
			</div>
			<div class="form-group">
				<label for="endereco-adote">Endereço:</label>
				<input type="text" class="form-control" id="endereco-adote" placeholder="Insira seu endereço">
				<small id="emailHelp" class="form-text text-muted">Pedimos seu endereço apenas para o envio dos
					kits.</small>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" id="val-1-adote" name="valorRadio" class="custom-control-input">
				<label class="custom-control-label" for="val-1-adote">Quero contribuir com R$ 40,00</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" id="val-2-adote" name="valorRadio" class="custom-control-input">
				<label class="custom-control-label" for="val-2-adote">Quero contribuir com R$ 70,00</label>
			</div>
			<div class="custom-control custom-radio">
				<input type="radio" id="val-3-adote" name="valorRadio" class="custom-control-input">
				<label class="custom-control-label" for="val-3-adote">Quero contribuir com R$ 100,00</label>
			</div>
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
		<div class="especie-back-button">
			<a href="/adote-uma-especie">
				<< Voltar </a> 
		</div> 
	</div>
</section>
<div class="space"></div>