<section id="noticias1-home">
	<div class="news-home">
		<div class="container noticias-header">
			<h5 class="header-subtitle">adote uma espécie</h1>
				<h1 class="news-home-title">Arara-azul</h4>
		</div>
	</div>
</section>
<section class="">
	<div class="container">
		<div class="space"></div>
		<div class="row">
			<div class="col-md-6">
				<img class="show-especie-img" src="../../imgs/especies/arara-azul-grande.jpg">
			</div>
			<div class="col-md-6">
				<h1 class="orange-title">Adote a arara-azul!</h1>
				<p>As araras-azuis são animais que se destacam pela beleza, tamanho e comportamento. Essa ave está
					atualmente ameaçada de extinção devido à caça, ao comércio clandestino e à degradação em seu habitat
					natural por conta do desmatamento.</p>
			</div>
		</div>
		<div class="space"></div>
		{{>formAdote nomeEspecie="Arara-azul"}}
	</div>
</section>

<div class="space"></div>