<section id="abaixo-assinado-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h1 class="news-home-title">abaixo-assinado</h1>
            <h5 class="header-subtitle">colabore para uma causa assinando um dos abaixo-assinados existentes ou crie o seu próprio!</h4>
        </div>
    </div>
</section>
<section id="petitions">
	<div class="container">
        <br>
		<p>Você tem uma causa para defender? Cadastre seu abaixo-assinado para que todo mundo colabore!
		    <a href="/abaixo-assinado/abaixo-assinado-new"><button class="btn btn-success btn-adote">Novo abaixo-assinado</button></a>
        </p>
        <br>
        <div id = "abxDiv">
            {{#each abaixosList}}
            <div class="list-group">
                <a href="/abaixo-assinado/show/{{id}}"  class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{titulo}}</h5>
                    <small>3 days ago</small>
                    </div>
                    <p class="mb-1">{{resumo}}</small>
                </a>
            </div>
            {{/each}}         
        </div>



</section>
<div class="space"></div>