<section id="abaixo-assinado-home">
    <div class="news-home">
        <div class="container noticias-header">
            <h1 class="news-home-title">abaixo-assinado</h1>
            <h5 class="header-subtitle">colabore para essa causa assinando o abaixo-assinado abaixo!</h4>
        </div>
    </div>
</section>

{{!-- Aqui é a visualização do Abaixo assinado único, logo, pegar seus parâmetros e apresentar. exemplo: --}}
<p>{{abaixo.resumo}}</p>
<p> {{ abaixo.titulo }}</p>
